<!-- Authored in HTML Developer Kit --><!DOCTYPE html><html>
<head><meta charset='UTF-8'><title>About</title></head>
<body bgcolor = "cyan">
<h1>About me</h1>
<p align = "center">
<font face = "Comic Sans MS" color = "white">
<b>I am Sohil Khan. I live in India. I am 13 years old and i have recently started with Django.<br>
Django is a free and open-source web framework, written in Python, which follows the model-view-template architectural pattern. It is maintained by the Django Software Foundation, an independent organization established as a 501 non-profit.
</b></font></p>
<IMG SRC = "C:\Users\Shah\Desktop\1200px-Django_logo.svg.png" Align = "bottom">
</body>
</html>